/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;

  background-color: var(--background-color);
  background: var(--background-gradient);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: 'Inter-Variable', sans-serif;
  font-variation-settings: 'wght' var(--card-text-weight);
  font-size: 18px;
  color: var(--accent-color);
}

.content {
  inline-size: var(--content-width);

  margin: auto;
}

.header {
  margin-block: 100px;

  padding-inline: clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem);
  padding-block: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) 25px;

  background-color: var(--background-color);

  border: 2px solid var(--accent-color);

  font-family: 'Press Start 2P';
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  margin-block-start: 20px;

  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-align: center;
}

.header__theme-menu {
  display: flex;

  align-items: center;
  justify-content: center;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;

  gap: 14px;

  margin-block-start: 25px;
}

.theme-menu__button {
  background-color: transparent;
  border: transparent;

  text-transform: uppercase;
  font-size: 14px;

  cursor: pointer;
}

.theme-menu__button:disabled::before {
  content: '▶';

  inline-size: 16px;
  block-size: 13px;
}

.cards-list {
  display: flex;
  flex-direction: column;

  gap: 50px;
}

.card {
  background-color: var(--background-color);

  border: 2px solid var(--accent-color);
}

.card__heading {
  padding-inline: 10px;
  padding-block: 3.5px 5.5px;

  font-size: inherit;
  font-variation-settings: 'wght' var(--card-heading-weight);
  line-height: 121%;
}

.card__image {
  display: block;

  width: 100%;
  height: 100%;

  object-fit: contain;
}

.card__content {
  padding: 25px;
}

.card__description-text {
  margin-block-end: 27px;
}

.card__memory-text {
  margin-block-end: 25px;
}

.card__buttons {
  display: flex;

  justify-content: end;

  gap: 12px;
}

.card__like-button {
  padding: 12.5px 37px;

  background-color: transparent;
  border: 2px solid var(--accent-color);

  font-family: 'Press Start 2P';
  font-size: 14px;
  line-height: 90%;

  cursor: pointer;
}
