/* Здесь вы напишете основную часть стилей страницы.
Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;

  background-color: var(--background-color);
  background: var(--background-gradient);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: "Inter-Variable", sans-serif;
  font-variation-settings: "wght" var(--card-text-weight);
  font-size: 18px;
  color: var(--accent-color);
}

.content {
  inline-size: var(--content-width);

  margin: auto;
}

.header {
  margin-block: 100px;

  padding-inline: clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem);
  padding-block: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) 25px;

  background-color: var(--background-color);

  border: 2px solid var(--accent-color);

  font-family: "Press Start 2P";

  text-transform: uppercase;
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  margin-block-start: 20px;

  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-align: center;
}

.header__theme-menu {
  display: flex;

  align-items: center;
  justify-content: center;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;

  gap: 14px;

  margin-block-start: 25px;

  font-size: 14px;
}

.theme-menu__button {
  position: relative;

  display: flex;

  margin-inline-start: 20px;
  padding: 0;

  background-color: transparent;
  border: transparent;

  font-size: inherit;
  text-transform: uppercase;

  cursor: pointer;

  transition: opacity .3s ease;
}

.theme-menu__button::after {
  position: absolute;

  inset-block-end: -3px;

  content: '';

  display: block;
  
  inline-size: 100%;
  block-size: 3px;

  background-color: var(--accent-color);

  opacity: .6;

  transform-origin: 0%;
  transform: scaleX(0);

  transition: transform .3s;
}

.theme-menu__button:disabled {
  margin-inline-start: 0;

  opacity: .6;

  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";

  inline-size: 14px;
  block-size: 14px;

  margin-inline-end: 5px;

  animation: arrow-animation .5s ease-in-out alternate infinite;
}

.theme-menu__button:hover {
  opacity: .6;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: .6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.card {
  margin-block-end: 50px;

  background-color: var(--background-color);

  border: 2px solid var(--accent-color);
}

.card__heading {
  padding-inline: 10px;
  padding-block: 4px 5px;

  font-size: inherit;
  font-variation-settings: "wght" var(--card-heading-weight);
  line-height: 121%;
}

.card__image-block {
  position: relative;
}

.card__image {
  display: block;

  width: 100%;

  border-block: 2px solid var(--accent-color);

  object-fit: cover;
}

.bright-image {
  filter: brightness(130%);
}

.contrast-image {
  filter: contrast(150%);
}

.saturate-image {
  filter: saturate(30%);
}

.sepia-image {
  filter: sepia(60%);
}

.sepia-and-bright-image {
  filter: sepia(20%) brightness(110%);
}

.hue-rotate-image {
  filter: hue-rotate(30deg);
}

.blur-image {
  filter: blur(2px) brightness(60%);
}

.invert-image {
  filter: invert(15%);
}

.card__image-sign {
  position: absolute;

  inset-inline-end: 13px;
  inset-block-start: 25px;

  mix-blend-mode: hard-light;

  text-shadow: -1px 0 var(--text-stroke-color), 0 1px var(--text-stroke-color),
    1px 0 var(--text-stroke-color), 0 -1px var(--text-stroke-color);

  mix-blend-mode: hard-light;

  font-family: "Press Start 2P";
  font-size: 14px;

  opacity: 0.5;
}

@supports (-webkit-text-stroke: 1px var(--text-stroke-color)) or
  (text-stroke: 1px var(--text-stroke-color)) {
  .card__image-sign {
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);

    text-shadow: none;
  }
}

.card__content {
  padding: 25px;
}

.card__description-text {
  margin-block-end: 27px;
}

.card__memory-text {
  margin-block-end: 25px;
}

.card__buttons {
  display: flex;

  align-items: center;
  justify-content: end;

  gap: 7px;
}

.card__icon-button {
  block-size: 36px;
  inline-size: 39px;

  padding: 0;

  background-color: transparent;
  border: transparent;

  transition: outline .3s ease;

  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.like-icon .contour {
  transition: fill .1s linear;
}

.like-icon .main-body {
  fill: transparent;

  transition: fill .3s;
}

.like-icon .core {
  fill: transparent;

  transition: fill .3s .03s;
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon:hover .main-body {
  fill: var(--like-icon-countour);

  transition: fill .3s .05s;
}

.like-icon:hover .core {
  fill: var(--like-icon-countour);

  transition: fill .3s;
}

.like-icon:active .main-body {
  fill: var(--like-icon-filling);

  transition: fill .3s .05s;
}

.like-icon:active .core {
  fill: var(--like-icon-filling);

  transition: fill .3s;
}

.like-icon.is-liked .main-body {
  fill: var(--like-icon-filling);

  transition: fill .3s .05s;
}

.like-icon.is-liked .core {
  fill: var(--like-icon-filling);

  transition: fill .3s;
}

.like-icon.is-liked .contour {
  fill: var(--like-icon-filling);

  transition: fill .3s .06s;
}

.like-icon.is-liked .heart {
  animation: like-icon-scale .3s .1s ease-in;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: like-icon-sparks .3s .3s ease-in;
}

.button {
  position: relative;

  padding: 0;

  background-color: transparent;
  border: 2px solid var(--accent-color);

  color: var(--button-text-color);

  transition: box-shadow 0.3s;

  cursor: pointer;
}

.card__like-button {
  block-size: 38px;
  inline-size: 130px;
}

.button__text {
  position: relative;

  font-family: "Press Start 2P";
  font-size: 14px;
  line-height: 90%;

  mix-blend-mode: difference;

  transition: mix-blend-mode .5s;
}

.footer {
  display: flex;
  justify-content: center;

  margin-block-end: 100px;
}

.save-button {
  display: flex;
  flex-direction: column;

  gap: 8px;

  align-items: center;

  padding: 15px 20px;

  background-color: var(--background-color);
}

.save-icon {
  inline-size: 28px;

  mix-blend-mode: difference;

  transition: mix-blend-mode .5s;
}

.save-button .button__text {
  text-transform: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px var(--accent-color);
}

.button::before {
  content: '';

  position: absolute;
  inset: 0;

  inline-size: 100%;
  block-size: 100%;

  background-color: var(--accent-color);

  transform-origin: 0%;
  transform: scaleX(0);

  transition: transform .5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:hover .button__text {
  z-index: 2;
}

.save-dialog[open] {
  inline-size: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);

  padding: 30px;

  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
}

.save-dialog::backdrop {
  background-color: rgba(0, 0, 0, .75);
}

.save-dialog .save-icon {
  inline-size: 39px;
  block-size: 39px;

  color: var(--accent-color);

  mix-blend-mode: normal;
}

.save-dialog__description {
  display: grid;
  gap: 20px;

  grid-template-columns: min-content 1fr;

  align-items: center;

  margin-block-end: 30px;

  text-transform: uppercase;
}

.save-dialog__text {
  font-family: 'Press Start 2P';
  font-size: 14px;
  line-height: 150%;

  color: var(--accent-color);
}

.save-dialog__button {
  inline-size: 100%;

  padding-block: 12.5px;

  text-transform: uppercase;
}

@media (width > 768px) {
  .save-button {
    flex-direction: row;
  }

  .save-icon {
    inline-size: 21px;
  }

  .card__image-sign {
    inset-inline-end: 25px;
  }
}