/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --main-font-family: 'Inter';
    --accent-font-family: 'PressStart2P';

    --card-heading-weight: 700;
    --card-text-weight: 400;

    --background-color: #fff;
    --background-gradient:
        repeating-linear-gradient(to left, #d3d3d3 2px, transparent 4px),
        repeating-linear-gradient(to bottom, #e7e7e7 2px, #1a1a1a 4px);

    --accent-color: #000;

    --content-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);

    --text-stroke-color: #fff;

    --button-text-color: #fff;

    --like-icon-countour: #000;
    --like-icon-filling: #ff0000;
}